<link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <h1>KYLE'S Blog</h1>
</body>