html {
    background-color: rgb(159, 159, 159);
}

body {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
}

#title {
    width: 100%;
    max-width: 720px;
    height: 50px;
    padding: 1px;
}

#post {
    height: 200px;
    width: 100%;
    max-width: 720px;
    padding: 1px;
}

.textbox {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
}

.singlepost {
    background-color: rgb(220, 220, 220);
    border: 2px solid #020079;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}